In [5]:
import geopandas as gpd
import numpy as np

In [3]:
path = '/Users/janpisl/Documents/EPFL/drivers/data/forestnet/forestnet.shp'

In [4]:
gdf = gpd.read_file(path)
gdf.head()

,label,merged_lab,latitude,longitude,year,example_pa,geometry
0,Timber plantation,Plantation,4.430849,96.101634,2014,examples/4.430849118860583_96.1016343478138,POINT (96.10163 4.43085)
1,Other,Other,1.332341,109.374229,2012,examples/1.3323406178609702_109.37422873130464,POINT (109.37423 1.33234)
2,Grassland shrubland,Grassland shrubland,-1.720266,115.006996,2016,examples/-1.7202663845775041_115.00699582064483,POINT (115.00700 -1.72027)
3,Small-scale agriculture,Smallholder agriculture,-2.248346,104.135786,2011,examples/-2.248346072674411_104.1357857482906,POINT (104.13579 -2.24835)
4,Other large-scale plantations,Plantation,-2.100800,113.022376,2008,examples/-2.100800102991412_113.02237632340159,POINT (113.02238 -2.10080)

In [8]:
np.unique(gdf.label, return_counts=True)

(array(['Fish pond', 'Grassland shrubland', 'Logging', 'Mining',
        'Oil palm plantation', 'Other', 'Other large-scale plantations',
        'Secondary forest', 'Small-scale agriculture',
        'Small-scale mixed plantation', 'Small-scale oil palm plantation',
        'Timber plantation'], dtype=object),
 array([ 24, 143,  39,  48, 337,  49, 118,  71, 355, 119,  82, 231]))

In [12]:
np.unique(gdf.latitude).shape

(1616,)

In [13]:
gdf

,label,merged_lab,latitude,longitude,year,example_pa,geometry
0,Timber plantation,Plantation,4.430849,96.101634,2014,examples/4.430849118860583_96.1016343478138,POINT (96.10163 4.43085)
1,Other,Other,1.332341,109.374229,2012,examples/1.3323406178609702_109.37422873130464,POINT (109.37423 1.33234)
2,Grassland shrubland,Grassland shrubland,-1.720266,115.006996,2016,examples/-1.7202663845775041_115.00699582064483,POINT (115.00700 -1.72027)
3,Small-scale agriculture,Smallholder agriculture,-2.248346,104.135786,2011,examples/-2.248346072674411_104.1357857482906,POINT (104.13579 -2.24835)
4,Other large-scale plantations,Plantation,-2.100800,113.022376,2008,examples/-2.100800102991412_113.02237632340159,POINT (113.02238 -2.10080)
...,...,...,...,...,...,...,...
1611,Oil palm plantation,Plantation,1.449926,109.766590,2008,examples/1.4499264071953166_109.76658993282277,POINT (109.76659 1.44993)
1612,Small-scale mixed plantation,Smallholder agriculture,-0.627725,102.582081,2013,examples/-0.627724994639205_102.58208080745202,POINT (102.58208 -0.62772)
1613,Oil palm plantation,Plantation,-0.156806,101.488659,2006,examples/-0.1568056092922136_101.4886588427382,POINT (101.48866 -0.15681)
1614,Timber plantation,Plantation,-0.684267,102.395437,2010,examples/-0.6842668996840853_102.39543666915493,POINT (102.39544 -0.68427)
1615,Small-scale agriculture,Smallholder agriculture,-3.262701,102.475256,2014,examples/-3.2627009151175375_102.47525649643305,POINT (102.47526 -3.26270)